<%- include('../partials/head', {pageTitle: 'Airbnb Home'}) %>
</head>
<body>
    <%- include('../partials/nav') %>


    <!-- Welcome Section -->
    <p class="text-red-500">Here is Home detail</p>
</body>
</html>