<%-include('../partials/head', {pageTitle: 'Property Added Successfully'})%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Added Successfully</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <h1 class="font-bold text-3xl text-red-800 text-center mt-10">Property Added Successfully!</h1>
    <a href="/" class="block text-center text-blue-500 hover:underline mt-4">Go Back to Home</a>
</body>
</html>